@model ProjectRoomMgmt.Models.RoomViewModel
 

@{
    ViewBag.Title = "Room Allocation";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row" data-ng-controller="RoomAllocationController as vm" data-ng-init="vm.init()">

    <input type="hidden" id="__studentNo__" value="@Model.StudentNo" />
    <input type="hidden" id="__roomNo__" value="@Model.RoomNo" />

    <div class="row">
        <div class="col-md-6">
            <form role="form">
                @if (ViewBag.Error != null)
            {
                    <div class="alert alert-error">
                        @ViewBag.Error
                    </div>
                }
                else if (ViewBag.Success != null)
                {
                    <div class="alert alert-error">
                        @ViewBag.Success
                    </div>
                }
                <div class="form-group-attached m-b-10">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group form-group-default">
                                <label>Student No</label>
                                <input type="text" class="form-control" required="" name="studentNo" data-ng-model="vm.model.studentNo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group-attached m-b-10">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group form-group-default">
                                <label>Student Name</label>
                                <div type="text" class="form-control" required="" name="studentName" data-ng-bind="vm.model.studentName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group-attached m-b-10">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group form-group-default">
                                <label>Select Room</label>
                                <select  class="form-control" required="" name="roomId" data-ng-options="item.Id as item.RoomName for item in vm.rooms" data-ng-model="vm.model.roomId"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group-attached m-b-10">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group form-group-default">
                                <label>Evacuation Date</label>
                                <input type="text" class="form-control" required="" name="roomId"   data-ng-model="vm.model.evacuationDate">>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-md btn-primary" value="Assign Room" />
            </form>
        </div>
    </div>

</div>
